<a href="/uploads/pdf_files/hardware.pdf"  download>Descargar PDF</a><style>table {font-family: Arial, Helvetica, sans-serif;border-collapse: collapse;width: 100%;}td, th {border: 1px solid #ddd;padding: 8px;}tr:nth-child(even){background-color: #f2f2f2;}tr:hover {background-color: #ddd;}th {padding-top: 12px;padding-bottom: 12px;text-align: left;background-color: #4CAF50;color: white;}</style><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>producto</th>
      <th>marca</th>
      <th>modelo</th>
      <th>precio</th>
      <th>descripcion</th>
      <th>condicion</th>
      <th>moneda</th>
      <th>garantia</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>43</td>
      <td>Motherboard</td>
      <td>ASUS</td>
      <td>B450</td>
      <td>12000</td>
      <td>4 slots de ram DDR4</td>
      <td>nuevo</td>
      <td>ARS</td>
      <td>si</td>
    </tr>
    <tr>
      <th>1</th>
      <td>13</td>
      <td>Procesador</td>
      <td>AMD</td>
      <td>Ryzen 3 3400G</td>
      <td>14600</td>
      <td>micro con gpu integrada - freq 3.3 Mhz - 1 anio de uso</td>
      <td>usado</td>
      <td>ARS</td>
      <td>no</td>
    </tr>
    <tr>
      <th>2</th>
      <td>245</td>
      <td>Mouse</td>
      <td>Logitech</td>
      <td>G Pro</td>
      <td>6000</td>
      <td>sensor optico Hero</td>
      <td>nuevo</td>
      <td>ARS</td>
      <td>si</td>
    </tr>
    <tr>
      <th>3</th>
      <td>24</td>
      <td>Gabinete</td>
      <td>Gigabyte</td>
      <td>C200</td>
      <td>150</td>
      <td>Importado con rgb y fun</td>
      <td>nuevo</td>
      <td>USD</td>
      <td>si</td>
    </tr>
    <tr>
      <th>4</th>
      <td>63</td>
      <td>Fuente</td>
      <td>Sentey</td>
      <td>SDP-650</td>
      <td>10000</td>
      <td>650 watts con certificado 80 Plus Bronze</td>
      <td>usado</td>
      <td>ARS</td>
      <td>no</td>
    </tr>
  </tbody>
</table>